/* Asosiy konteyner */
.partners {
  width: 100%;
  margin-top: 8rem;
  background-color: var(--title-color);
  padding: 2rem 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.group {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  will-change: transform;
  animation: scrolling 30s linear infinite;

  gap: 3rem;
  padding-right: 2rem;
}

.card {
  height: 3rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .group {
    gap: 4rem;
    padding-right: 4rem;
  }
  .card {
    width: 8rem;
    height: 4rem;
  }
}

@media (min-width: 1200px) {
  .group {
    gap: 5rem;
    padding-right: 5rem;
  }
  .card {
    width: 10rem;
    height: 5rem;
  }
}

@media (min-width: 1800px) {
  .group {
    gap: 6rem;
    padding-right: 6rem;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
